<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redis AddressBook</title>
</head>
<body>
    <h3> My Address Book</h3>
    <br>
    <form
        action="#"
        th:action="@{/saveToRedis}"
        method="post">
        Name: 
        <input type="text" th:field="${Contact.name}">
        <br>
        Email:
        <input type="email" th:field="${Contact.email}">
        <br>
        Phone Numba:
        <input type="text" th:field="${Contact.phoneNumber}">
        <br>
        <input type="submit" value="Save">

    </form>
</body>
</html>