<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Save Confirmation </title>
</head>
<body>
    <div th:unless="${Existing}">
        <h3> Contact Saved </h3>
    </div>
    <div th:if="${Existing}">
        <h3> Display Contact </h3>
    </div>
    <br>
    <p th:text="${'Id: ' + Contact.id}"/>
    <p th:text="${'Name: ' + Contact.name}"/>
    <p th:text="${'Email: ' + Contact.email}"/>
    <p th:text="${'Phone Number: ' + Contact.phoneNumber}"/>
</body>
</html>